# Example of a configuration file for classic devices (Non-SDN)
# Empty lines, and lines beginning with '#' are ignored.

# First two valid lines set NETCONF username and password for all device
user = USERNAME
pass = PASSWORD

# Each line represents a single device.
# IPv4 address followed by hostname. Separated by a single space.
192.168.1.11 R1
192.168.1.12 R2
192.168.1.21 R3
192.168.1.22 R4